<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>admin</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <h3 style="text-align: center">centos user log</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2">
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="logInfo()"><span class="glyphicon glyphicon-refresh"></span> refresh</a></li>
                <li><a href="/centosafe/ssh"><span class="glyphicon glyphicon-link"></span> ssh log</a></li>
                <li><a href="http://wanglinli955.cn" target="_blank"><span class="glyphicon glyphicon-book"></span> myBlog</a></li>
                <li role="separator" class="divider"></li>
                <li><a onclick="logout()" target="_blank"><span class="glyphicon glyphicon-logout"></span> out</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 col-xs-10 col-sm-10">
        <table class="table table-hover" id="logInfo">
            <tr>
                <td>ID</td>
                <td>RECORD</td>
            </tr>
        </table>
    </div>

</div>



<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/centosafe/getLogInfo",
            data:{},
            success:function (data) {
                if(data.code === 0){
                    $.each(data.data,function (index,value) {
                        var content = '<tr><td>'+index+'</td><td>'+value+'</td></tr>';
                        $('#logInfo').append(content);
                    });
                }
            }
        })
    });

    function logInfo() {
        $.ajax({
            type: "POST",
            url: "/centosafe/updateLog",
            data:{},
            success:function (data) {
               alert(data.msg);
               location.reload()
            }
        });
    }

    function logout() {
        $.ajax({
            type: "POST",
            url: "/centosafe/logout",
            data:{},
            success:function (data) {
                alert(data.msg);
                if(data.code === 0){
                    window.location.href="http://127.0.0.1:8080/centosafe/login"
                }
            }
        });
    }
</script>
</body>
</html>