<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>403页面</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/animate.min.css" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
</head>
<body >
<div class="middle-box text-center animated fadeInDown" >
    <div class="row" style="padding-top: 15%">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1>403</h1>
            <h3 > forbidden！! !</h3>
            <div >
                非法访问！
            </div>
        </div>
    </div>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>